* {
  margin: 0;
  padding: 0;
}
section {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
.cards {
  width: 250px;
  padding: 20px;
}
.cards:hover {
  box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 0.1);
  cursor: pointer;
}
.image_box img {
  width: 150px;
  height: 200px;
}

.details p:nth-child(1) {
  font-weight: bold;
}
.details p:nth-child(2) {
  color: grey;
  font-size: 0.8rem;
}
.details p:nth-child(3) {
  font-weight: bolx;
  color: grey;
}
.details button {
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: rgb(8, 10, 10);
  outline: none;
  color: #fff;
  margin-bottom: 5px;
}
.iconsearch{
  width: 20px;
  height: 20px;
  margin: 12px;
} 
.search_div{
  height: 45px;
  /* background-color: rgb(221, 219, 219); */
  background-color: blue;
  float: center;
  border-radius: 5px;
  display: flex;
}
.searchinput{
  width: 80%;
  outline: none;
  border-radius: 5px;
  border: none;
  float: right;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  background-color: rgb(221, 219, 219);
}

.divrecords{
  display: grid;
  background-color: aqua;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}