.generaldiv{
  display: flex;
}

.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}
  
.input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
  
.input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .input input:focus {
    outline: none;
    border-color: #4f005f;
  }

.input button {
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    background-color: rgb(8, 10, 10);
    outline: none;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .input button:hover,
  .input button:active {
    background: #201f20;
    border-color: #201f20;
  }
  
  .input button:focus {
    outline: none;
  }